@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
    font-size: 55px;
    line-height: 1em;
}

.apellido {
    font-weight: 300;
}

#cargo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

#contenedor-principal {
    display: flex;
    flex-direction: row-reverse;
}

#caja-foto img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#columna-izquierda {
    background-color: #414142;
    color: #e7e7e8;
    width: calc(100% / 4);
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#columna-izquierda h2 {
    text-transform: uppercase;
}

#columna-derecha {
    width: calc(100% / 4 * 3);
    padding: 40px;
    color: #616165;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 30px;
    border-bottom: 2px solid #616165;
}

#contacto ul {
    list-style: none;
}

#contacto ul li {
    margin-bottom: 15px;
    font-size: 20px;
}

.fila-curriculum {
    
    display: flex;
    flex-direction: row;
}

.columna-curriculum-izquierda {
    width: calc(100% / 5 * 2);
    border-right: 2px solid #616165;
}

.columna-curriculum-derecha {
    width: calc(100% / 5 * 3);
    padding-left: 30px;

}

#redes-sociales {
    margin-top: auto;
}

#redes-sociales ul {
    list-style: none;
    padding-left: 0;
}

#redes-sociales ul li {
    margin-bottom: 20px;
}

#redes-sociales ul li span {
    font-weight: 700;
}

#redes-sociales ul li a {
    color:#e7e7e8;
    text-decoration: none;
}

#experiencia {
    border-bottom: 2px solid #616165;
    padding-bottom: 50px;
}

h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}